.menu-general {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.nav-bar-title {
    margin-left: 5rem;
}

.contenedor-links {
    display: flex;
    align-items: space;
    justify-content: space-between;
    width: 30%;
    margin-right: 5rem;
}

.link{
    min-width: 5rem;
}

.link a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #40413e;
}

.link a:hover {
    cursor: pointer;
    font-weight: 600;
}

@media (max-width: 780px){ 
    .menu-general{
        flex-direction: column;
    }

    .nav-bar-title{
        margin-left: 0px;
    }

    .contenedor-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        gap: 0.8rem;
        padding-bottom: 1rem;
    }
    
}