<div class="menu-general">
    <div class="nav-bar-title">
        <h2>Mi Portafolio</h2>
    </div>
    <div class="contenedor-links">
        <div class="link"><a [routerLink]="['/home']" fragment="sobre-mi">Sobre
                mí</a>
        </div>
        <div class="link"><a [routerLink]="['/home']" fragment="tecnologias">Tecnologías</a></div>
        <div class="link"><a [routerLink]="['/home']" fragment="proyectos">Proyectos</a></div>
        <div class="link"><a [routerLink]="['/home']" fragment="contacto">Contacto</a></div>
    </div>
</div>
