<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="title">
            <div class="title-info">
                <div class="title-text">
                    <h1>Hola, soy Fernando Vera</h1>
                    <p>Desarrollador Full Stack apasionado por crear soluciones
                        innovadoras y compartir conocimiento a través del
                        código.</p>
                </div>
                <div class="title-buttons">
                    <a href="mailto:fverabernal@gmail.com"><button
                            id="contactar" class="title-button"> <img
                                src="/icons/email.webp" alt="mail"> Contactar
                        </button>
                    </a>

                    <a href="/CV.pdf" target="_blank">
                        <button id="cv" class="title-button"> <img
                                src="/icons/cv.png" alt="cv"> Ver CV </button>
                    </a>

                </div>
                <div class="title-rrss">
                    <button> <a href="https://github.com/FVeraCoding"
                            target="blank"> <img src="/icons/github.png"
                                alt="github"> </a> </button>
                    <button><a
                            href="https://www.linkedin.com/in/fernando-vera-bernal-874980301/"
                            target="blank"><img src="/icons/linkedin.png"
                                alt="linkedin"></a></button>
                    <a href="mailto:fverabernal@gmail.com">
                        <button><img src="/icons/mail.avif" alt="mail"
                                id="mail_icon"></button>
                    </a>

                </div>

            </div>
            <div class="title-img">
                <img src="Perfil.jpeg" alt="Perfil">
            </div>
        </div>

        <div class="sobre-mi" id="sobre-mi">
            <div class="sobre-mi-texto">
                <h2>Sobre mí</h2>
                <p>Mi historia en el mundo de la tecnología comenzó hace varios
                    años
                    cuando descubrí mi pasión por resolver problemas complejos a
                    través del código. Desde entonces, he trabajado en diversos
                    proyectos que van desde aplicaciones web hasta aplicaciones
                    móvil.</p>
            </div>
            <div class="sobre-mi-cuadros">
                <div class="cuadro">
                    <img src="/icons/coding.png" alt="coding">
                    <h3>Desarrollo</h3>
                    <p>Especializado en tecnologías modernas como Angular,
                        Spring y bases de datos.</p>
                </div>
                <div class="cuadro">
                    <img src="/icons/book.jpg" alt="learn">
                    <h3>Aprendizaje</h3>
                    <p>Siempre en constante aprendizaje, documentando y
                        compartiendo conocimientos.</p>
                </div>
                <div class="cuadro">
                    <img src="/icons/colab.png" alt="colab">
                    <h3>Colaboración</h3>
                    <p>Me encanta trabajar en equipo y contribuir a diferentes
                        proyectos.</p>
                </div>
            </div>
        </div>
        <div class="tecnologias" id="tecnologias">
            <div class="tecnologias-title">
                <h2>Tecnologías</h2>
                <p>Estas son las principales tecnologías y herramientas que
                    utilizo en mis proyectos</p>
            </div>
            <div class="tecnologias-grid">
                <div class="columna">
                    <h3>Frontend</h3>
                    <div class="tecnologia">
                        <img src="/icons/angular.png" alt="angular">
                        <div class="tecnologia-texto">
                            <h4>Angular</h4>
                            <p>Framework</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/typescript.png" alt="TypeScript">
                        <div class="tecnologia-texto">
                            <h4>TypeScript</h4>
                            <p>Lenguaje</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/javascript.png" alt="JavaScript">
                        <div class="tecnologia-texto">
                            <h4>JavaScript</h4>
                            <p>Lenguaje</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/html5.png" alt="Html5">
                        <div class="tecnologia-texto">
                            <h4>HTML 5</h4>
                            <p>Lenguaje de marcas</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/css.png" alt="CSS3">
                        <div class="tecnologia-texto">
                            <h4>CSS3</h4>
                            <p>Lenguaje de estilos</p>
                        </div>
                    </div>
                </div>
                <div class="columna">
                    <h3>Backend</h3>
                    <div class="tecnologia">
                        <img src="/icons/springboot.png" alt="springboot">
                        <div class="tecnologia-texto">
                            <h4>Spring</h4>
                            <p>Framework</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/swagger.png" alt="swagger">
                        <div class="tecnologia-texto">
                            <h4>Swagger</h4>
                            <p>Documentación</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/hibernate.png" alt="hibernate">
                        <div class="tecnologia-texto">
                            <h4>Hibernate</h4>
                            <p>ORM</p>
                        </div>
                    </div>
                </div>
                <div class="columna">
                    <h3>Bases de datos</h3>
                    <div class="tecnologia">
                        <img src="/icons/mysql.png" alt="MySQL">
                        <div class="tecnologia-texto">
                            <h4>MySQL</h4>
                            <p>BBDD SQL</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/mongodb.webp" alt="MongoDB">
                        <div class="tecnologia-texto">
                            <h4>MongoDB</h4>
                            <p>BBDD NoSQL</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/oracle.jpg" alt="OracleDB">
                        <div class="tecnologia-texto">
                            <h4>OracleDB</h4>
                            <p>BBDD Objeto-Relacional</p>
                        </div>
                    </div>
                </div>
                <div class="columna">
                    <h3>Herramientas</h3>
                    <div class="tecnologia">
                        <img src="/icons/github.png" alt="github">
                        <div class="tecnologia-texto">
                            <h4>Github</h4>
                            <p>Control de versiones</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/postman.svg" alt="postman">
                        <div class="tecnologia-texto">
                            <h4>Postman</h4>
                            <p>Pruebas de APIs Rest</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/junit.png" alt="junit">
                        <div class="tecnologia-texto">
                            <h4>JUnit</h4>
                            <p>Testing Unitario</p>
                        </div>
                    </div>
                    <div class="tecnologia">
                        <img src="/icons/mockito.png" alt="mockito">
                        <div class="tecnologia-texto">
                            <h4>Mockito</h4>
                            <p>Mocking de dependencias</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="proyectos" id="proyectos">

            <h2>Proyectos</h2>
            <p>Estos son algunos de los proyectos en los que he trabajado
                recientemente.</p>

            <div class="proyecto-grid">
                <div class="proyecto-card">
                    <div class="proyecto-img">
                        <img src="biblioteca.png" alt="proyecto1">
                    </div>
                    <div class="proyecto-title">
                        <h3>Biblioteca Oliveria</h3>
                        <p>Sistema de gestión bibliotecaria que permite
                            controlar
                            la gestión de socios y empleados, libros, reservas,
                            clubes de lectura y eventos culturales.</p>
                    </div>
                    <div class="proyecto-tecnologias">
                        <p>Angular</p>
                        <p>Spring</p>
                        <p>MySQL</p>
                    </div>
                    <div class="proyecto-botones">
                        <a
                            href="https://github.com/FVeraCoding/ProyectoIntegrado/tree/main"
                            target="blank"><button class="title-button"
                                id="contactar"> <img
                                    src="/icons/github-white.png" alt="github">
                                Código</button></a>
                        <button class="title-button" id="cv"> <img
                                src="/icons/external-link.svg"
                                alt="github">Demo</button>
                    </div>
                </div>
                <div class="proyecto-card">
                    <div class="proyecto-img">
                        <img src="/proyectos/festival.png"
                            alt="proyecto_festival">
                    </div>
                    <div class="proyecto-title">
                        <h3>Festival</h3>
                        <p>Página web responsive de Festival que contiene
                            artistas, horarios y galería de fotos.</p>
                    </div>
                    <div class="proyecto-tecnologias">
                        <p>Javascript</p>
                        <p>HTML5</p>
                        <p>SASS</p>
                        <p>Gulp</p>
                    </div>
                    <div class="proyecto-botones">
                        <a
                            href="https://github.com/FVeraCoding/MusicFestival.git"
                            target="_blank"> <button class="title-button"
                                id="contactar"><img
                                    src="/icons/github-white.png" alt="github">
                                Código</button></a>
                        <a href="https://monumental-gecko-e81166.netlify.app/"
                            target="_blank"> <button class="title-button"
                                id="cv"><img src="/icons/external-link.svg"
                                    alt="github">Demo</button></a>
                    </div>
                </div>
                <div class="proyecto-card">
                    <div class="proyecto-img">
                        <img src="/proyectos/pokedex.png"
                            alt="proeycto_pokedex">
                    </div>
                    <div class="proyecto-title">
                        <h3>Pokédex</h3>
                        <p>Pokédex consumiendo la API oficial de Pokémon.</p>
                    </div>
                    <div class="proyecto-tecnologias">
                        <p>JavaScript</p>
                        <p>SASS</p>
                        <p>HTML5</p>
                    </div>
                    <div class="proyecto-botones">
                        <a href target="_blank"></a><button class="title-button"
                            id="contactar"> <img src="/icons/github-white.png"
                                alt="github"> Código</button>
                        <a href="https://tranquil-cassata-20a587.netlify.app/"
                            target="_blank"><button class="title-button"
                                id="cv"> <img src="/icons/external-link.svg"
                                    alt="github">Demo</button></a>
                    </div>
                </div>
            </div>

            <div class="contacto" id="contacto">
                <div class="contacto-text">
                    <h2>Contacto</h2>
                    <p>¿Tienes un proyecto en mente o quieres colaborar?</p>
                    <p>Me encantaría saber sobre ti</p>
                </div>

                <div class="contacto-buttons">
                    <a href="mailto:fverabernal@gmail.com">
                        <button
                            class="title-button" id="contactar"> <img
                                src="/icons/email.webp" alt> Enviar
                            Email</button>

                    </a>
                    <a
                        href="https://www.linkedin.com/in/fernando-vera-bernal-874980301/"
                        target="blank"><button class="title-button" id="cv">
                            <img
                                src="/icons/linkedin.png" alt>LinkedIn
                        </button></a>

                </div>
            </div>

        </div>
    </body>
</html>
